In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn as sk

In [6]:
video =pd.read_csv(r"C:\Users\DELL\Documents\youtube_likes project\video.csv")

## Model Building (Linear Regression)

#### x - data

In [7]:
X = video.loc[:,['views','dislikes','comment_count','category_id']]

#### y - data (to predict)

In [8]:
y = video['likes']

#### train-test split

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=2529)

In [11]:
lr = LinearRegression()
lr.fit(X_train,y_train)
lr.score(X_test,y_test)

0.7359219017574772

imputing random data in form of X_train columns to predict any data from the model

In [12]:
lr.predict([[40000,50,700,24]])

C:\Users\DELL\AppData\Roaming\Python\Python312\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([5704.42174866])

so it will get 5704 likes

In [13]:
X_train

        views  dislikes  comment_count  category_id
6271   458649       421           1459           15
2151    98031       198            106           24
694    110338       222            304           10
3403   890803       609           4145           26
2984  3009019      2868          11680            1
...       ...       ...            ...          ...
3656   178765       137            903           26
5039   257584        29             75           17
4836  1376133      1198           3363           17
2876    28804        29            262           22
5472  1900142      6490          30783           25

[5080 rows x 4 columns]

In [14]:
X_test

        views  dislikes  comment_count  category_id
4006   474318        51            142           28
4825  1527300       669           4755           17
840   9627575        94            264           24
1160  1752139       573           5965           24
2575  1045731         0              0           22
...       ...       ...            ...          ...
2174    89365        80             80           24
922   4352775      8300           3172           24
5892    11692        79              0           25
3381   997139      2904           6676           26
3961   777777        60            123           28

[1271 rows x 4 columns]

In [15]:
X_test

        views  dislikes  comment_count  category_id
4006   474318        51            142           28
4825  1527300       669           4755           17
840   9627575        94            264           24
1160  1752139       573           5965           24
2575  1045731         0              0           22
...       ...       ...            ...          ...
2174    89365        80             80           24
922   4352775      8300           3172           24
5892    11692        79              0           25
3381   997139      2904           6676           26
3961   777777        60            123           28

[1271 rows x 4 columns]